body {
  background: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: "full";
  height: 100vh;

  font-family: "Pixelify Sans", Verdana, Geneva, Tahoma, sans-serif;
  color: #f2f2f2;

  overflow: hidden;
}

h1 {
  font-size: 48pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 12pt;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: #fc0;
}

#fire {
  border-radius: 20px;
  overflow: hidden;

  /* border: solid #f2f2f2 2px; */
}

canvas {
  border-collapse: collapse;
  width: 500px;
  height: 500px;

  background-color: #070707;
}

table tr {
  display: flex;
  flex-direction: row;
}

table tr td {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #070707;
  color: #f2f2f2;
  border: #f2f2f2;

  font-size: 8pt;
}

#intensity-label {
  margin-top: 24px;
  margin-bottom: 8px;
}

#inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;
  background-color: #f8f8f840;

  border-radius: 8px;
  border: solid #f2f2f2 1px;
}

#inputs button {
  background-color: #f2f2f2;
  border-style: none;
  border-radius: 4px;

  padding: 4px 30px;

  width: 23.7%;

  font-size: 16pt;
  font-family: "Pixelify Sans", Verdana, Geneva, Tahoma, sans-serif;

  transition: all;
}

#inputs button:hover {
  background-color: #c0c0c0;

  transform: scale(105%);
  cursor: pointer;
}

#inputs #burst {
  width: 100%;
}

#main {
  display: flex;
  flex-direction: row;
  gap: 8px;

  align-items: center;
  justify-content: center;

  margin-top: 24px;
}

#hue-range {
  writing-mode: vertical-lr;
  direction: rtl;
  vertical-align: middle;

  background: linear-gradient(to top, orange, green, cyan, blue, magenta, red);

  width: 20px;
  height: 500px;
}

#hue-range::-webkit-slider-runnable-track {
  background: linear-gradient(to top, orange, green, cyan, blue, magenta, red);
  height: 6px;
  border-radius: 3px;
}
