body {
  background: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: "full";
  height: 100vh;

  font-family: "Pixelify Sans", Verdana, Geneva, Tahoma, sans-serif;
  color: #f2f2f2;

  overflow: hidden;
}

h1 {
  font-size: 48pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 12pt;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: #fc0;
}

#fire {
  margin-top: 24px;
  border-radius: 20px;
  overflow: hidden;

  /* border: solid #f2f2f2 2px; */
}

canvas {
  border-collapse: collapse;
  width: 500px;
  height: 500px;

  background-color: #070707;
}

table tr {
  display: flex;
  flex-direction: row;
}

table tr td {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #070707;
  color: #f2f2f2;
  border: #f2f2f2;

  font-size: 8pt;
}
